@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Lora:ital,wght@0,400..700;1,400..700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.cdnfonts.com/css/daniel');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* This is needed for the flex layout so the site footer is pushed down to bottom of page */
:root, body {
    @apply h-full;
}

/* Adds support for light/dark color scheme based on user's OS choice */
:root {
  --background: theme(colors.cream);
  --foreground: theme(colors.coffee);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: theme(colors.coffee);
    --foreground: theme(colors.cream);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer components {
  .cmp-container {
    @apply container 2xl:px-60 xl:px-40 lg:px-20 md:px-10 px-5 mx-auto;
  }

  .cmp-markdown {
    & p {
        @apply hind-light;
    }
    & h1 {
        @apply my-4 text-4xl text-center prompt;
    }
    & h2 {
        @apply my-2 text-2xl lora-normal-oblique;
    }
    & h3 {
        @apply my-2 text-xl hind-light;
    }
    & a {
        @apply text-blue-500 underline;
    }
    & blockquote {
        @apply ml-3 pl-3 my-3 py-1 border-l-2 border-foreground;
    }
    & strong {
        @apply font-bold;
    }
    & ol {
        @apply my-1 pl-5 hind-light list-decimal;
    }
    & ul {
        @apply my-1 pl-5 hind-light list-disc;
    }
  }
}

@layer utilities {
  .prompt {
    font-family: "Prompt", serif;
    font-weight: 700;
    font-style: normal;
  }

  .lora-normal-oblique {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: oblique;
  }

  .hind-light {
    font-family: "Hind", serif;
    font-weight: 300;
    font-style: normal;
  }

  .daniel-light {
    font-family: 'Daniel', sans-serif;
    font-weight: 400;
  }

  .daniel-normal {
    font-family: 'Daniel', sans-serif;
    font-weight: 700;
  }

  .daniel-heavy {
    font-family: 'Daniel Black', sans-serif;
  }

  .brand-gradient {
    @apply bg-clip-text text-transparent;
    background-image: linear-gradient(to right, theme(colors.sunflower), theme(colors.tangerine), theme(colors.salmon), theme(colors.coral));
  }
}
